<script>
	// test the script here

</script>

<!-- TEST -->
<div class="container">
  <div class="grid-1 callout primary">
	<a href="#">
		<div>
			<h2>Title 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur.</p>
			<b>View More</b>
		</div>
	</a>
  </div>

  <div class="grid-2 callout warning">
	<a href="#">
		<div>
			<h2>Title 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur.</p>
			<b>View More</b>
		</div>
	</a>
  </div>

  <div class="grid-3 callout alert">
	<a href="#">
		<div>
			<h2>Title 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur.</p>
			<b>View More</b>
		</div>
	</a>
  </div>

  <div class="grid-4 callout success">
	<a href="#">
		<div>
			<h2>Title 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur.</p>
			<b>View More</b>
		</div>
	</a>
  </div>
</div>



<main class="folding-panel-container">

	<header>
		<h1>3D Folding Panel</h1>
	</header>
	<ul class="cd-gallery">
		<li class="folding-panel-item">
			<a href="test.html">
				<div>
					<h2>Title 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur.</p>
					<b>View More</b>
				</div>
			</a>
		</li>
		<li class="folding-panel-item">
			<a href="#">
				<div>
					<h2>Title 2</h2>
					<p>Lorem ipsum dolor sit amet, consectetur.</p>
					<b>View More</b>
				</div>
			</a>
		</li>
		<li class="folding-panel-item">
			<a class="dark-text" href="#">
				<div>
					<h2>Title 3</h2>
					<p>Lorem ipsum dolor sit amet, consectetur.</p>
					<b>View More</b>
				</div>
			</a>
		</li>
		<li class="folding-panel-item">
			<a href="#">
				<div>
					<h2>Title 4</h2>
					<p>Lorem ipsum dolor sit amet, consectetur.</p>
					<b>View More</b>
				</div>
			</a>
		</li>
	</ul>
</main>
<!-- .cd-main -->
<div class="cd-folding-panel">
	<div class="fold-left"></div>
	<!-- this is the left fold -->
	<div class="fold-right"></div>
	<!-- this is the right fold -->
	<div class="cd-fold-content">
		<!-- content will be loaded using javascript -->
	</div>
	<a class="cd-close" href="#0"></a>
</div>
<!-- .cd-folding-panel -->